{% extends "base_cart.html" %}
{% load static %}
{% load cart_tools %}

{% block cart_header %}
Shopping cart
{% endblock cart_header %}

{% block cart_content %}
<div class="row d-block d-md-none">
    <div class="col-12 text-center mt-3">
        <h4>Grand Total: {{ total | calc_cart_total:total_rental | floatformat:2 }} SEK</h4>
        <p class="mb-3">A summary of your cart contents is below</p>
    </div>
    <div class="col-12 text-center">
        <a href="{% url 'checkout' %}" class="btn btn-black btn-lg m-4">
            <span>SECURE CHECKOUT</span>
            <span class="icon">
                <i class="fas fa-lock"></i>
            </span>
        </a>
    </div>
</div>
<div class="row mb-3">
    <div class="col bg-lightgreen border-black pt-4">
        {% if cart_rental_items %}
        <h4 class="text-center mb-2">Items to Rent</h4>
        <div class="d-block d-md-none">
            {% for item in cart_rental_items %}
            <ul class="no-bullets">
                <li class="mb-2">
                    <p class="my-0"><strong>{{ item.product.name }}</strong></p>
                </li>
                <li class="mb-2">
                    <p class="my-0">No of months: {{ item.months }}</p>
                </li>
                <li class="mb-2">
                    <p class="my-0">Price Each: {{ item.product.rental_price }} SEK</p>
                </li>
                <li>Qty: </li>
                <li class="mb-2 w-50 text-center">
                    {% include 'includes/quantity_form.html' with rent_or_buy='rent'%}</span>
                </li>
                <li class="mb-2 mt-3">
                    <p class="my-0"><strong>Subtotal:
                            {% calc_rent_subtotal item.product.rental_price item.quantity item.months %} SEK</strong>
                    </p>
                </li>
            </ul>
            <div class="row">
                <div class="col">
                    <hr>
                </div>
            </div>
            {% endfor %}
            <h4 class="text-center"><strong>Rent Total: {{ total_rental|floatformat:2 }} SEK</strong></h4>
            <div class="btt-button shadow-sm rounded-0 border border-black">
                <a class="btt-link d-flex h-100">
                    <i class="fas fa-arrow-up text-black mx-auto my-auto"></i>
                </a>
            </div>
        </div>
        <div class="table-responsive bg-lightgreen d-none d-md-block">
            <table class="table table-sm text-center">
                <thead class="text-black">
                    <tr>
                        <h4>
                            <th scope="col">Product</th>
                            <th scope="col">Category</th>
                            <th scope="col">No of Months</th>
                            <th scope="col">Price/Month</th>
                            <th scope="col">Qty</th>
                            <th scope="col">Subtotal</th>
                        </h4>
                    </tr>
                </thead>
                {% for item in cart_rental_items %}
                <tr>
                    <td class="py-3">
                        <p class="my-0">{{ item.product.name }}</p>
                    </td>
                    <td class="p-3">
                        <p class="my-0">{{ item.category }}</p>
                    </td>
                    <td class="py-3">
                        <p class="my-0">{{ item.months }}</p>
                    </td>
                    <td class="py-3">
                        <p class="my-0">{{ item.product.rental_price }} SEK</p>
                    </td>
                    <td class="py-3">
                        {% include 'includes/quantity_form.html' with rent_or_buy='rent' %}
                    </td>
                    <td class="py-3">
                        <p class="my-0">{% calc_rent_subtotal item.product.rental_price item.quantity item.months %} SEK
                        </p>
                    </td>
                </tr>
                {% endfor %}
                <tr>
                    <td colspan="6" class="pt-5 text-center">
                        <h4><strong>Rent Total: {{ total_rental|floatformat:2 }} SEK</strong></h4>
                    </td>
                </tr>

            </table>
        </div>
        {% else %}
        <p class="lead my-5 text-center">No items to rent in your cart.</p>
        {% endif %}
    </div>
</div>
<div class="row">
    <div class="col bg-lightgreen border-black pt-4">
        {% if cart_items %}
        <h4 class="text-center mb-2">Items to buy</h4>
        <div class="d-block d-md-none">
            {% for item in cart_items %}
            <ul class="no-bullets">
                <li class="mb-2">
                    <p class="my-0"><strong>{{ item.product.name }}</strong></p>
                </li>
                <li class="mb-2">
                    <p class="my-0">Price Each: ${{ item.product.buying_price }}</p>
                </li>
                <li>Qty: </li>
                <li class="mb-2 w-50 text-center">
                    {% include 'includes/quantity_form.html' with rent_or_buy='buy'%}</span>
                </li>
                <li class="mb-2 mt-3">
                    <p class="my-0"><strong>Subtotal: {{ item.product.buying_price | calc_subtotal:item.quantity }}
                            SEK</strong></p>
                </li>
            </ul>
            <div class="row">
                <div class="col">
                    <hr>
                </div>
            </div>
            {% endfor %}
            <h4 class="text-center"><strong>Buy Total: {{ total|floatformat:2 }} SEK</strong></h4>
            <div class="btt-button shadow-sm rounded-0 border border-black">
                <a class="btt-link d-flex h-100">
                    <i class="fas fa-arrow-up text-black mx-auto my-auto"></i>
                </a>
            </div>
        </div>
        <div class="table-responsive bg-lightgreen d-none d-md-block">
            <table class="table table-sm text-center">
                <thead class="text-black">
                    <tr>
                        <h4>
                            <th scope="col">Product</th>
                            <th scope="col">Category</th>
                            <th scope="col">Price</th>
                            <th scope="col">Qty</th>
                            <th scope="col">Subtotal</th>
                        </h4>
                    </tr>
                </thead>
                {% for item in cart_items %}
                <tr>
                    <td class="py-3">
                        <p class="my-0">{{ item.product.name }}</p>
                    </td>
                    <td class="p-3">
                        <p class="my-0">{{ item.category }}</p>
                    </td>
                    <td class="py-3">
                        <p class="my-0">{{ item.product.buying_price }} SEK</p>
                    </td>
                    <td class="py-3">
                        {% include 'includes/quantity_form.html' with rent_or_buy='buy'%}
                    </td>
                    <td class="py-3">
                        <p class="my-0">{{ item.product.buying_price | calc_subtotal:item.quantity }} SEK</p>
                    </td>
                </tr>
                {% endfor %}
                <tr>
                    <td colspan="5" class="pt-5 text-center">
                        <h4><strong>Buy Total: {{ total|floatformat:2 }} SEK</strong></h4>
                    </td>
                </tr>
            </table>
        </div>
        {% else %}
        <p class="lead my-5 text-center">No items to buy in your cart.</p>
        {% endif %}
    </div>
</div>

<div class="row">
    <div class="col-12 text-center mt-5">
        <h4>Grand Total: {{ total | calc_cart_total:total_rental | floatformat:2 }} SEK</h4>
    </div>
    <div class="col-12 text-center">
        <a href="{% url 'checkout' %}" class="btn btn-black btn-lg m-4">
            <span>SECURE CHECKOUT</span>
            <span class="icon">
                <i class="fas fa-lock"></i>
            </span>
        </a>
    </div>
</div>
{% endblock cart_content %}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript" src="{% static 'js/change_qty.js' %}"></script>
<script type="text/javascript">
    // Update quantity on click
    $('.update-link').click(function (e) {
        let form = $(this).prev('.update-form');
        form.submit();
    })

    // Remove item and reload on click
    $('.remove-item').click(function (e) {
        let csrfToken = "{{ csrf_token }}";
        let itemId = $(this).attr('id').split('remove_')[1];
        let url = `/cart/remove/${itemId}/`;
        let data = {
            'csrfmiddlewaretoken': csrfToken
        };

        $.post(url, data)
            .done(function () {
                location.reload();
            });
    })

    // Update quantity on click
    $('.update-link_rental').click(function (e) {
        let form = $(this).prev('.update-rental-form');
        form.submit();
    })

    // Remove item and reload on click
    $('.remove-item_rental').click(function (e) {
        let csrfToken = "{{ csrf_token }}";
        let id = $(this).attr('id').split('_');
        let itemId = id[0];
        let months = id[1]
        let url = `/cart/remove_rental/${itemId}/${months}/`;
        let data = {
            'csrfmiddlewaretoken': csrfToken
        };

        $.post(url, data)
            .done(function () {
                location.reload();
            });
    })
</script>
{% endblock %}