{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container h-100">
    <div class="row h-100 justify-content-end">
        <div class="col-5">
            <div class="row align-items-end">
                <div class="col-10 my-auto text-center bg-orange">
                    <h1>Hire Hens</h1>
                    <p>Start a subscription of hens on a montly basis. Include equipment and consumables of your choice.
                    </p>
                    <p>We will support and help you: +46 780 35 61!</p>
                    <div class="my-5">
                        <a hrefs="" class="btn btn-lg btn-dark">Start Subscription</a>
                    </div>
                </div>
            </div>
            <div class="row align-items-end justify-content-between">
                <div class="col-4 my-auto">
                    <a href="" class="btn btn-lg btn-dark">Register</a>
                </div>
                <div class="col-4 my-auto">
                    <a href="" class="btn btn-lg btn-dark">Log In</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}