{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'home/css/home.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row mt-4">
        <div class="col-12 d-block d-md-none">
            <h1 class="text-center mb-2 bg-green"><img src="{{ MEDIA_URL }}egg.png" alt="logo" width="25"> HENS for HIRE
            </h1>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid h-100">
    <div class="row h-100 justify-content-end">
        <div class="col-12 d-block d-md-none align-self-end">
            <div class="row justify-content-evenly bg-green">
                <div class="col-12 text-center py-3">
                    <a href="{% url 'get_products_by_category' 'Hens' 'rent' %}" class="btn btn-lg btn-black rounded-0">
                        Explore rental altenatives <i class="fas fa-info-circle"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="d-none d-md-block col-4 bg-green">
            <div class="row h-100">
                <div class="col-10 m-auto text-center p-4">
                    <h1 class="mb-3"><img src="{{ MEDIA_URL }}egg.png" alt="logo" width="25"> HENS for HIRE</h1>
                    <p class="mb-3">Put together a rental package including hens, coop and equipment of your choice. Buy
                        consumable to complete the package.</p>
                    <a href="{% url 'get_products_by_category' 'Hens' 'rent' %}" class="btn btn-lg btn-black mt-5">
                        Explore rental altenatives <i class="fas fa-info-circle"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}