<nav class="breadcrumb-divider" aria-label="breadcrumb">
    <ol class="breadcrumb justify-content-center">
        {% for category in rental_categories %}
        {% if category.category == this_category %}
        <li class="breadcrumb-item" aria-current="page">{{ this_category }}</li>
        {% else %}
        <li class="breadcrumb-item"><a
                href="{% url 'get_products_by_category' category.category 'rent' %}">{{ category.category }}</a></li>
        {% endif %}
        {% endfor %}
    </ol>
</nav>