<div class="card h-100 border-black">
    {% if product.image %}
    <a href="{% url 'product_detail' product.id rent_or_buy %}">
        <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
    </a>
    {% else %}
    <a href="{% url 'product_detail' product.id rent_or_buy %}">
        <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.jpg" alt="{{ product.name }}">
    </a>
    {% endif %}
    <div class="card-body pb-0">
        <p class="mb-0">
            {{ product.name }}
        </p>
    </div>
    <div class="card-footer bg-white pt-0 border-0 text-left">
        <div class="row">
            <div class="col">
                {% if rent == True %}
                <p class="lead mb-0 text-left font-weight-bold">{{ product.rental_price }} SEK/month</p>
                {% else %}
                <p class="lead mb-0 text-left font-weight-bold">{{ product.buying_price }} SEK</p>
                {% endif %}
                {% if request.user.is_superuser and this_category == 'all' %}
                <small class="ml-3">
                    <a href="{% url 'edit_product' product.id %}" class="btn btn-sm btn-black">Edit</a>
                    <a class="btn btn-sm btn-black" href="{% url 'delete_product' product.id %}">Delete</a>
                </small>
                {% endif %}
            </div>
        </div>
    </div>
</div>