<!-- Inspired by Bootstrap -->
<div class="modal fade" id="modal_remove_product" role="dialog" aria-labelledby="delete_product" aria-hidden="true">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header bg-green">
                <h4 id="delete_product" class="modal-title">Delete</h4>
                <button type="button" class="btn_close" data-dismiss="modal" aria-label="Close">&times;</button>
            </div>
            <div class="modal-body bg-lightgreen">
                <p>Are you sure you want to delete product <span id="name"></span>?</p>
                <form id="remove_product_form" method="POST" action="{% url 'delete_product' %}">
                    {% csrf_token %}
                    <div id="hidden_product"></div>
                </form>
            </div>
            <div class="modal-footer bg-green">
                <button type="submit" form="remove_product_form" class="btn btn-black-red">Yes</button>
                <button type="button" class="btn btn-black" data-dismiss="modal">Cancel</button>
            </div>
        </div>

    </div>
</div>