body {
    height: calc(100vh - 88px - 116px);
    background: url('/media/homepage_chickens-bg-green.jpg') no-repeat center center fixed;
    background-size: cover;
}

@media (max-width: 720px) {
    body {
        height: calc(100vh - 134.39px - 130px);
    }
}