{% extends "base_profile.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock extra_css %}

{% block profile_header %}
My Profile
{% endblock profile_header %}

{% block profile_content %}
<div class="row">
    <div class="col-12 col-lg-6 mb-4">
        <h4>Default Delivery Information</h4>
        <form class="mt-3" action="{% url 'profile' %}" method="POST" id="profile-update-form">
            {% csrf_token %}
            {% for field in form %}
            {{ field | as_crispy_field }}
            {% endfor %}
            <button class="btn btn-black float-right">Update Information</button>
        </form>

    </div>
    <div class="col-12 col-lg-6 mb-4">
        <h4>Order History</h4>
        <div class="order-history table-responsive bg-lightgreen p-2">
            <table class="table table-sm table-borderless">
                <thead>
                    <tr>
                        <th>Order Number</th>
                        <th>Order Date</th>
                        <th>Items</th>
                        <th>Order Total</th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in orders %}
                    <tr>
                        <td>
                            <a href="{% url 'order_history' order.order_number %}" class="text-black"
                                title="{{ order.order_number }}">{{ order.order_number|truncatechars:6 }}
                            </a>
                        </td>
                        <td>{{ order.order_date }}</td>
                        <td>
                            {% if order.buyitems.all %}
                            <ul class="list-unstyled">
                                <p class="small mb-0"><strong>Buy (x Qty)</strong></p>
                                {% for item in order.buyitems.all %}
                                <li class="small">
                                    {{ item.product.name }} x {{ item.quantity }}
                                </li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                            {% if order.rentalitems.all %}
                            <ul class="list-unstyled">
                                <p class="small mb-0"><strong>Hire (x Qty x Months)</strong></p>
                                {% for item in order.rentalitems.all %}
                                <li class="small">
                                    {{ item.product.name }} x {{ item.quantity }} x {{ item.months }}
                                </li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                        </td>
                        <td>{{ order.grand_total }} SEK</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock profile_content %}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript" src="{% static 'profiles/js/countryfield.js' %}"></script>
{% endblock postloadjs%}