{% extends "base_checkout.html" %}
{% load static %}
{% load humanize %}

{% block checkout_header %}
Order Information
{% endblock checkout_header %}

{% block checkout_content %}
<div class="d-block d-md-none text-center">
    <a href="{% url 'adm_orders' 'all'%}" class="btn btn-lg btn-black mb-5">Return</a>
</div>
<div class="row justify-content-center bg-lightgreen border-black mb-5">
    <div class="col-12 col-mb-10">
        <h3 class=" text-center my-3">Order details: </h3>
        <p class="mb-3">Order number: <strong> {{ order.order_number }}</strong> </p>
        <div class="row">
            <div class="col-12 col-md-6">
                <ul class="no-bullets ps-0">
                    <li>Name: <strong>{{ order.full_name }}</strong></li>
                    <li>Order date: <strong> {{ order.order_date }}</strong> </li>
                    {% if order.delivery_date %}
                    <li>Delivered date: <strong> {{ order.delivery_date }}</strong> </li>
                    {% else %}
                    <li><strong class="text-notdone">Not delivered:</strong>
                        <a href="{% url 'deliver_order' order.id %}"
                            class="ms-3 btn btn-sm btn-black"><small>Deliver</small></a>
                    </li>
                    {% endif %}
                    <li class="mt-4">Grand Total: <strong>{{ order.grand_total|intcomma }} SEK</strong></li>
                </ul>
            </div>
            <div class="col-12 col-md-6">
                <ul class="no-bullets ps-0">
                    <li>Email: <strong>{{ order.email }} </strong> </li>
                    <li>Phone: <strong> {{ order.phone_number }}</strong> </li>
                    <li>Adress:
                        <ul class="no-bullets">
                            <li><strong> {{ order.street_address1 }}</strong> </li>
                            {% if order.street_address2 %}<p><strong> {{ order.street_address2 }}</strong> </li>
                    {% endif %}
                    <li><strong> {{ order.postcode }} {{ order.town_or_city }}</strong> </li>
                    <li><strong> {{ order.country }}</strong> </li>
                </ul>
                </li>
                </ul>
            </div>

        </div>
    </div>
</div>
<div class="row justify-content-between">
    <div class="col-12 col-md-7 bg-lightgreen border-black mb-2">
        <h3 class="text-center">Items for Rent</h3>
        <table class="table">
            <thead class="text-black">
                <tr>
                    <h4>
                        <th scope="col">Product</th>
                        <th scope="col">Total</th>
                        <th scope="col">Rental Due</th>
                        <th scope="col"></th>
                    </h4>
                </tr>
            </thead>
            {% for item in rentalitems %}
            <tr>
                <td class="py-3">
                    <p class="my-0"><strong>{{ item.product }}</strong></p>
                    <p class="my-0">Months: {{ item.months }}</p>
                    <p class="my-0">Qty: {{ item.quantity }}</p>
                </td>
                <td class="py-3">
                    <p class="my-0">{{ item.rentalitem_total|intcomma }} SEK</p>
                </td>
                {% if item.end_of_rental and not item.item_returned %}
                <td class="py-3">
                    <p class="my-0">
                        {{ item.end_of_rental }}
                    </p>
                </td>
                <td class="py-3">
                    <p class="my-0">
                        <a href="{% url 'finish_rental' order.id item.id %}" class="btn btn-sm btn-black"><small>Items
                                returned</small>
                        </a>
                    </p>
                </td>
                {% else %}
                <td class="py-3">
                    <p class="my-0 text-done">
                        No
                    </p>
                </td>
                {% endif %}
            </tr>
            {% empty %}
            <p class="text-center">No items </p>
            {% endfor %}
        </table>
    </div>
    <div class="col-12 col-md-4 bg-lightgreen border-black ms-md-3 mb-2">
        <h3 class="text-center">Items Bought</h3>
        <table class="table">
            <thead class="text-black">
                <tr>
                    <h4>
                        <th scope="col">Product</th>
                        <th scope="col">Total</th>
                    </h4>
                </tr>
            </thead>
            {% for item in buyitems %}
            <tr>
                <td class="py-3">
                    <p class="my-0"><strong>{{ item.product }}</strong></p>
                    <p class="my-0">Qty: {{ item.quantity }}</p>
                </td>
                <td class="py-3">
                    <p class="my-0">{{ item.buyitem_total|intcomma }} SEK</p>
                </td>
            </tr>
            {% empty %}
            <div class="text-center">No items </div>
            {% endfor %}
        </table>

    </div>
</div>
<div class="text-center mb-5">
    <a href="{% url 'adm_orders' 'all' %}" class="btn btn-lg btn-black mt-5">Return</a>
</div>

{% endblock checkout_content %}