.order-history {
    max-height: 65vh;
    overflow-y: auto;
}

#profile-update-form .form-control {
    color: #000000;
}

#profile-update-form input::placeholder {
    color: #3d3d3d;
    font-style: italic;
}

#id_default_country,
#id_default_country option:not(:first-child) {
    color: #3d3d3d;
}

#id_default_country option:first-child {
    color: #000000;
}