{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'faq/css/faq.css' %}">
{% endblock extra_css %}

{% block inner_content %}
<div class="content">
    <div class="container">
        <div class="row">
            <div class="col text-center mt-5">
                <h2 class="mb-4">{% block faq_header %}{% endblock faq_header %}</h2>
            </div>
        </div>
        {% block faq_content %}
        {% endblock faq_content %}
    </div>
</div>
{% endblock inner_content %}