{% extends "base.html" %}
{% load static %}


{% block page_header %}
<div class="container header-container"></div>
<div class="row">
    <div class="col"></div>
</div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container-fluid h-100">
    <div class="row">
        <div class="col text-center">
            <hr>
            <h2 class="logo-font mb-4">Edit FAQ</h2>
            <hr>
        </div>
    </div>
    <div class="container">
        <form method="POST" class="text-center">
            {% csrf_token %}
            {{ form.as_p }}
            <div>
                <p>
                    <button type="submit">Update</button>
                </p>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
<script src="{% static 'js/accordion.js' %}"></script>
{% endblock %}