{% extends "base.html" %}
{% load static %}


{% block page_header %}
<div class="container header-container"></div>
<div class="row">
    <div class="col"></div>
</div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container-fluid h-100">
    <div class="row">
        <div class="col text-center">
            <hr>
            <h2 class="logo-font mb-4">Frequently Asked Questions</h2>
            <hr>
        </div>
    </div>
    <div class="container">
        {% for faq in faqs %}
        <button class="accordion">{{ faq.question }}</button>
        <div class="panel">
            <p class="ps-4">{{ faq.answer }}</p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block postloadjs %}
<script src="{% static 'js/accordion.js' %}"></script>
{% endblock %}