{% extends "base_faq.html" %}
{% load static %}

{% block faq_header%}
Frequently Asked Questions
{% endblock faq_header %}

{% block faq_content %}
{% if request.user.is_superuser %}
<div class="text-center mb-3 mt-3">
    <a href="{% url 'add_faq' %}" class="btn btn-lg btn-black">Add <i class="fas fa-plus-circle"></i></a>
</div>
{% endif %}
<div class="container mt-4">
    <div class="row justify-content-center mb-5">
        {% for faq in faqs %}
        <div class="col-11 col-md-8 col-lg-9">
            <button class="accordion m-0"><strong>{{ faq.question }}</strong></button>
            <div class="panel">
                <p class="ps-4">{{ faq.answer }}</p>
            </div>
        </div>
        {% if request.user.is_superuser %}
        <div class="col-8 col-md-3 col-lg-3 col-xl-2 text-center mt-2 mb-4">
            <a href="{% url 'edit_faq' faq.id %}" class="btn btn-black">Edit <i class="fas fa-pen-square"></i></a>
            <button type="submit" class="btn btn-black-red" onclick="openRemoveModalFaq('{{ faq.id }}')">Delete <i
                    class="fas fa-trash"></i></button>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>{% include 'includes/modal_remove_faq.html' %}

{% endblock faq_content %}

{% block postloadjs %}
{{ block.super }}
<script src="{% static 'faq/js/faq.js' %}"></script>
{% endblock %}