{% extends "base_faq.html" %}
{% load static %}

{% block faq_header%}
Frequently Asked Questions
{% endblock faq_header %}

{% block faq_content %}
{% if request.user.is_superuser %}
<div class="text-center mb-3 mt-3">
    {% include 'includes/black_button_lg.html' with url_to='add_faq' button_text='Add FAQ' %}
</div>
{% endif %}
<div class="container bg-white border-black mt-4">
    <div class="row justify-content-center">
        {% for faq in faqs %}
        <div class="col-11 col-md-8 col-lg-9">
            <button class="accordion m-0">{{ faq.question }}</button>
            <div class="panel">
                <p class="ps-4">{{ faq.answer }}</p>
            </div>
        </div>
        {% if request.user.is_superuser %}
        <div class="col-8 col-md-3 col-lg-3 col-xl-2 text-center mt-2 mb-4">
            {% include 'includes/black_button.html' with url_to='edit_faq' param=faq.id button_text='Edit' %}
            {% include 'includes/black_button.html' with url_to='delete_faq' param=faq.id button_text='Remove' %}
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock faq_content %}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript" src="{% static 'js/accordion.js' %}"></script>
{% endblock %}