@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Open+Sans&family=Roboto&display=swap');

/* -----------------General------------------ */
html {
    height: 100%;
    scroll-behavior: smooth;
    font-size: 16px;
}

body {
    font-family: "IBM Plex Serif", "Roboto", "Open Sans";
    color: #000000;
    background-color: #afc1d5;
    font-size: 1rem;
    height: calc(100vh - 80px - 116px);
    background: url('/media/homepage_chickens.jpg') no-repeat center center fixed;
    background-size: cover;
}

/* from code institute video who got it from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.overlay {
    min-height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: #afc1d5;
    z-index: -1;
}

/* .bg-opac {
    background-color: rgba(255, 255, 255, 0.5);
}*/

.bg-black {
    background-color: #000000;
    color: #ffffff;
}

.bg-blue {
    background-color: #afc1d5;
    color: #000000;
}

.bg-white {
    background-color: #ffffff;
    color: #000000;
}

/*.bg-beige {
    background-color: #edca96;
    color: #000000;
}*/

/*.bg-green {
    background-color: #3b7f00;
    color: #000000;
}*/

/*.bg-orange {
    background-color: #f9b236;
    color: #000000;
}*/

.btn-black {
    background-color: #000000;
    color: #ffffff;
}

.nav-link,
.navbar-brand {
    color: #ffffff !important;
}

.btn-black:hover,
.nav-link:hover,
.navbar-brand:hover,
.dropdown-item:hover {
    background-color: rgba(255, 255, 255, 0.5);
    color: #000000 !important;
}

.text-white {
    color: #ffffff;
}

/*.opacity-10 {
    opacity: 10%;
}*/

/*.border-rounded {
    border: 2px solid black;
    border-radius: 5px;
}*/

.no-margin-right {
    margin-right: 0px !important;
}

/*
.no-margin-left {
    margin-left: 0px !important;
}*/

.header-container {
    padding-top: 80px;
}

.center-nav-items {
    display: flex !important;
    justify-content: space-around;
}

.no-bullets {
    list-style-type: none;
}

/*---- Toasts ----*/

.toast-container {
    z-index: 9999999;
}

.toast-line {
    height: 4px;
}

/* -------- FAQ --*/

.accordion {
    background-color: #f2f5f8;
    color: #000000;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

.active,
.accordion:hover {
    background-color: #d7e0ea;
}

/* Inspired from w3 schools */
.accordion:after {
    content: '\02795';
    /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #afc1d5;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2796";
    /* Unicode character for "minus" sign (-) */
}

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}

@media (max-width: 720px) {
    body {
        height: calc(100vh - 80px - 148px);
    }
}