<footer class="fixed-bottom">
    <div class="row bg-black pt-2 m-0">
        <div class="d-none d-md-block col-6 text-center">
            <h5>Contact us!</h5>
            <span>We would be happy to help you</span>
        </div>
        <div class="col-12 col-md-6 text-center">
            <ul class="no-bullets">
                <li class="d-md-none">
                    <h5>Contact us</h5>
                </li>
                <li>
                    <i class="fas fa-mobile-alt"></i> +46 701 234 567
                </li>
                <li>
                    <i class="far fa-envelope"></i> hire.hens@gmail.com
                </li>
            </ul>
            <ul class="list-inline">
                <li class="list-inline-item">
                    <a target="_blank" href="https://www.facebook.com/" aria-label="Find us on Facebook" rel="noopener">
                        <i class="fab fa-facebook icon"></i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a target="_blank" href="https://twitter.com/explore" aria-label="Follow us on Twitter"
                        rel="noopener">
                        <i class="fab fa-twitter icon"></i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a target="_blank" href="https://www.instagram.com/" aria-label="Find us on LinkedIn"
                        rel="noopener">
                        <i class="fab fa-instagram icon"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>