{% extends "account/base.html" %}

{% load i18n %}

{% block account_header%}
{% trans "Log Out" %}
{% endblock account_header %}

{% block account_content %}
<div class="text-center">
  <p>{% trans 'Are you sure you want to log out?' %}</p>

  <form method="post" action="{% url 'account_logout' %}">
    {% csrf_token %}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <a class="btn btn-black" href="{% url 'home' %}"><i class="fas fa-chevron-left"></i> Back</a>
    <button class="btn btn-black" type="submit">{% trans 'Log Out' %}</button>
  </form>
</div>

{% endblock %}