{% load static %}
{% load cart_tools %}

<!doctype html>
<html lang="en">

<head>

  {% block meta %}
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  {% endblock %}

  {% block extra_meta %}
  {% endblock %}

  {% block corecss %}
  {% include 'includes/links.html' %}
  {% endblock corecss %}

  {% block extra_css %}
  {% endblock extra_css %}

  <title>Hire Hens {% block extra_title %} {% endblock %}</title>
</head>

<body>
  <header class="container-fluid fixed-top p-0">
    {% include 'includes/navbar/base_header.html' %}
  </header>

  {% include 'includes/toasts/base_toast.html' %}

  {% block page_header %}
  <div class="container header-container"></div>
  {% endblock page_header %}

  {% block content %}
  <div class="content">
    {% block inner_content %}
    {% endblock inner_content %}
  </div>
  {% endblock content %}

  {% include 'includes/footer.html' %}

  {% block corejs %}
  {% include 'includes/scripts.html' %}
  {% endblock corejs %}

  {% block postloadjs %}
  <script>
    $('.toast').toast('show');
  </script>
  {% endblock postloadjs %}

</body>

</html>