{% extends "base.html" %}
{% load static %}


{% block page_header %}
<div class="container header-container"></div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container overflow-auto h-100">
    {% if rent %}
    <div class="row">
        <div class="col text-center">
            <hr>
            <h2 class="mb-4">RENTAL PACKAGE</h2>
            <h3>Choose: {% include 'includes/breadcrumb.html' %} </h3>
            <hr>
        </div>
    </div>
    {% else %}
    <div class="row">
        <div class="col text-center">
            <hr>
            <h2 class="mb-4">{% block products_header %}{% endblock products_header %}</h2>
            <hr>
        </div>
    </div>
    {% endif %}

    {% block products_content %}
    {% endblock products_content %}

    {% endblock %}