{% extends "base.html" %}
{% load static %}


{% block page_header %}
<div class="container header-container"></div>
{% endblock %}

{% block content %}
<div class="overlay bg-green"></div>
<div class="container overflow-auto h-100">
    {% if rent and products %}
    <div class="row">
        <div class="col text-center">
            <hr>
            <h2 class="mb-4">RENTAL PACKAGE</h2>
            Choose: <h4>{% include 'includes/breadcrumb.html' %} </h4>
            Then:<h4><a href="#">Add package to cart</a></h4>
            <hr>
        </div>
    </div>
    {% else %}
    <div class="row">
        <div class="col text-center">
            <hr>
            <h2 class="mb-4">{% block products_header %}{% endblock products_header %}</h2>
            <hr>
        </div>
    </div>
    {% endif %}

    {% block products_content %}
    {% endblock products_content %}

    {% endblock %}