{% extends "base_products.html" %}
{% load static %}
{% load cart_tools %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'products/css/products.css' %}">
{% endblock extra_css %}

{% block products_header %}
{% if add %}
<p>Add a Product</p>
{% else%}
<p>Edit a Product</p>
{% endif %}
{% endblock products_header %}

{% block products_content %}
<div class="row">
    <div class="col-12">
        {% if add %}
        <!-- Code from Code institute - Boutique Ado -->
        <form method="POST" action="{% url 'add_product' %}" class="form mb-2" enctype="multipart/form-data">
            {% else %}
            <form method="POST" action="{% url 'edit_product' product.id %}" class="form mb-2"
                enctype="multipart/form-data">
                {% endif %}
                {% csrf_token %}
                {% for field in form %}
                {% if field.name != 'image' %}
                {{ field | as_crispy_field }}
                {% else %}
                {{ field }}
                {% endif %}
                {% endfor %}
                <div class="text-center mb-4">
                    <a class="btn btn-black" href="{% url 'get_products_by_category' 'all' 'buy' %}">Cancel</a>
                    <button class="btn btn-black" type="submit">{% if add %}Add Product{% else %}Update
                        Product{% endif %}</button>
                </div>
            </form>
    </div>
</div>
{% endblock products_content %}

{% block postloadjs %}
{{ block.super }}
<!-- From Code Insitute Boutique Ado -->
<script type="text/javascript">
    $('#new-image').change(function () {
        var file = $('#new-image')[0].files[0];
        $('#filename').text(`Image will be set to: ${file.name}`);
    });
</script>
{% endblock %}