{% extends "base_products.html" %}
{% load static %}

{% block products_header %}
{% if rent == True %}
Hire:
{% else %}
Buy:
{% endif %}
{{ product.name }}
{% endblock products_header %}

{% block products_content %}
<div class="row bg-white border-black">
    <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
        <div class="image-container my-5">
            {% if product.image %}
            <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
            {% else %}
            <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.jpg" alt="{{ product.name }}">
            {% endif %}

        </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 offset-lg-1">
        <div class="bg-white mb-5 mt-md-5 p-2">
            {% if request.user.is_superuser %}
            <p class="mb-0">{{ product.category }}</p>
            {% endif %}
            <p class="mb-0">
                <strong>
                    {% if rent %} {{product.rental_price }} SEK/month
                    {% else %} {{ product.buying_price }} SEK
                    {% endif %}
                </strong>
            </p>
            <p class="mt-3">{{ product.information }}</p>
            {% include 'includes/product_form.html' with rent=rent product=product %}
        </div>
    </div>
    <div class="col-12 mb-4 text-center">
        {% if rent == True %}
        <input type="submit" form="detail_rent_form" class="btn btn-black" value="Add to Rental Package">
        {% else %}
        <input type="submit" form="detail_buy_form" class="btn btn-black" value="Add to Cart">
        {% endif %}
    </div>
</div>
{% endblock products_content %}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript" src="{% static 'js/change_qty.js' %}"></script>
{% endblock %}