{% if messages %}
<div aria-live="polite" aria-atomic="true" class="bg-dark position-relative bd-example-toasts" data-autohide="false">
    <div class="toast-container position-absolute p-3 top-0 start-50 translate-middle-x text-center"
        id="toastPlacement">
        {% for message in messages %}
        {% with message.level as level %}
        {% if level == 40 %}
        {% include 'includes/toasts/toast_error.html' %}
        {% elif level == 30 %}
        {% include 'includes/toasts/toast_warning.html' %}
        {% elif level == 25 %}
        {% include 'includes/toasts/toast_success.html' %}
        {% else %}
        {% include 'includes/toasts/toast_info.html' %}
        {% endif %}
        {% endwith %}
        {% endfor %}
    </div>
</div>
{% endif %}